<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SBPlay</title>
</head>
<body>
    <h2>Hi </h2>
    <p th:text="#{welcome}">Welcome to our grocery store!</p>
    <p th:text="#{home.welcome}">Welcome to our grocery store!</p>
</body>
</html>